In [2]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/home/kiwilytics/Downloads/Orders_with_issues.csv") #export data

print(df)

     OrderID CustomerID   OrderDate ShippedDate       ShippingCost  \
0     1000.0       C001  2025-05-17  2025-07-30  -57.2545460244498
1     1001.0       C002  2025-01-26  2025-07-30             320.61
2     1002.0       C003  2025-03-08  2025-07-30             165.17
3     1003.0       C004  2025-03-24  2025-07-30              12.55
4     1004.0       C005  2025-04-15  2025-07-30             186.36
..       ...        ...         ...         ...                ...
240   1240.0       C001  2024-11-19  2025-07-30             372.98
241   1241.0       C002  not_a_date  2025-07-30                NaN
242   1242.0       C003  2025-01-16  2025-07-30             241.16
243   1243.0       C004  2024-09-16  2025-07-30              83.54
244   1244.0       C005  2025-01-28  2025-07-30             430.17

    ShipCountry    ShipCity                 ShippingCompany
0       Germany     Hamburg  Kiwilytics Goods Shipping LLC.
1        Canada    Montreal                   UPS Worldwide
2        Canada   Vancouver                 FedEx Logistics
3       Germany      Munich            Aramex International
4        Canada   Vancouver                 FedEx Logistics
..          ...         ...                             ...
240          UK  Manchester            Aramex International
241         USA     Houston            Aramex International
242         USA    New York  Kiwilytics Goods Shipping LLC.
243       Egypt       Cairo                     DHL Express
244     Germany      Berlin            Aramex International

[245 rows x 8 columns]

In [ ]:
#scanning the problems in the data set

print(df.info())

print(df.head(15))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   OrderID          239 non-null    float64
 1   CustomerID       240 non-null    object
 2   OrderDate        237 non-null    object
 3   ShippedDate      219 non-null    object
 4   ShippingCost     231 non-null    object
 5   ShipCountry      245 non-null    object
 6   ShipCity         241 non-null    object
 7   ShippingCompany  245 non-null    object
dtypes: float64(1), object(7)
memory usage: 15.4+ KB
None
    OrderID CustomerID   OrderDate ShippedDate       ShippingCost ShipCountry  \
0    1000.0       C001  2025-05-17  2025-07-30  -57.2545460244498     Germany
1    1001.0       C002  2025-01-26  2025-07-30             320.61      Canada
2    1002.0       C003  2025-03-08  2025-07-30             165.17      Canada
3    1003.0       C004  2025-03-24  2025-07-30              12.55     Germany
4    1004.0       C005  2025-04-15  2025-07-30             186.36      Canada
5    1005.0       C006  2024-12-24  2025-07-30              74.93         USA
6    1006.0       C007         NaN  2025-07-30             229.93         USA
7    1007.0       C008  2024-08-10  2025-07-30             209.94     Germany
8    1008.0       C009  2025-02-06  2025-07-30                NaN         USA
9    1009.0       C010  not_a_date  2025-07-30             394.37         USA
10   1010.0       C011  2024-12-03  2025-07-30              16.05     Germany
11   1011.0       C012  2024-10-08  2025-07-30             391.79      Canada
12   1012.0       C013         NaN  2025-07-30             284.17      Canada
13   1013.0       C014  2025-02-04  2025-07-30             128.94         USA
14   1014.0       C015  2024-10-20         NaN              345.8      Canada

       ShipCity                 ShippingCompany
0       Hamburg  Kiwilytics Goods Shipping LLC.
1      Montreal                   UPS Worldwide
2     Vancouver                 FedEx Logistics
3        Munich            Aramex International
4     Vancouver                 FedEx Logistics
5      New York                   UPS Worldwide
6   Los Angeles            Aramex International
7        Berlin            Aramex International
8       Houston                     DHL Express
9       Chicago  Kiwilytics Goods Shipping LLC.
10          NaN            Aramex International
11    Vancouver                     DHL Express
12    Vancouver  Kiwilytics Goods Shipping LLC.
13     New York                     DHL Express
14     Montreal                 FedEx Logistics

In [15]:
df['OrderDate']=pd.to_datetime(df['OrderDate'],errors='coerce') #change datatype into datetime
df['ShippedDate']=pd.to_datetime(df['ShippedDate'],errors='coerce') #change datatype into datetime
df['ShippingCost']=pd.to_numeric(df['ShippingCost'],errors='coerce') #change datatype into numeric
df.loc[df['ShippingCost']<0,'ShippingCost']=np.nan  #let any cost less than 0 =NaN
print(df.tail(15))

     OrderID CustomerID  OrderDate ShippedDate  ShippingCost ShipCountry  \
230   1230.0       C021 2024-08-26         NaT        392.75          UK
231   1231.0       C022 2024-08-22  2025-07-30        444.34       Egypt
232   1232.0       C023 2024-10-02  2025-07-30         24.38          UK
233   1233.0       C024 2025-06-02  2025-07-30        143.27     Germany
234   1234.0       C025 2024-11-26  2025-07-30           NaN          UK
235   1235.0       C026 2025-03-18  2025-07-30        253.11         USA
236   1236.0       C027 2025-05-16  2025-07-30         37.17          UK
237   1237.0       C028 2025-06-15  2025-07-30         91.77          UK
238   1238.0       C029 2025-03-08  2025-07-30        388.93          UK
239   1239.0       C030 2025-07-22  2025-07-30        340.32          UK
240   1240.0       C001 2024-11-19  2025-07-30        372.98          UK
241   1241.0       C002        NaT  2025-07-30           NaN         USA
242   1242.0       C003 2025-01-16  2025-07-30        241.16         USA
243   1243.0       C004 2024-09-16  2025-07-30         83.54       Egypt
244   1244.0       C005 2025-01-28  2025-07-30        430.17     Germany

        ShipCity                 ShippingCompany
230       London  Kiwilytics Goods Shipping LLC.
231        Cairo                     DHL Express
232    Liverpool                 FedEx Logistics
233       Berlin  Kiwilytics Goods Shipping LLC.
234    Liverpool                   UPS Worldwide
235  Los Angeles            Aramex International
236       London                 FedEx Logistics
237   Manchester                 FedEx Logistics
238   Manchester                 FedEx Logistics
239    Liverpool  Kiwilytics Goods Shipping LLC.
240   Manchester            Aramex International
241      Houston            Aramex International
242     New York  Kiwilytics Goods Shipping LLC.
243        Cairo                     DHL Express
244       Berlin            Aramex International

In [14]:
df['OrderID']=df['OrderID'].fillna(method='ffill') #fill the null value in orderid with the previous orderid
df['CustomerID']=df['CustomerID'].fillna("unknown") #filling the null value in customerid with "unknown" word
df['ShipCity']=df['ShipCity'].fillna(df['ShipCountry']) #filiing the null value in shipcity with the chipcountry value

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   OrderID          245 non-null    float64
 1   CustomerID       245 non-null    object
 2   OrderDate        226 non-null    datetime64[ns]
 3   ShippedDate      211 non-null    datetime64[ns]
 4   ShippingCost     223 non-null    float64
 5   ShipCountry      245 non-null    object
 6   ShipCity         245 non-null    object
 7   ShippingCompany  245 non-null    object
dtypes: datetime64[ns](2), float64(2), object(4)
memory usage: 15.4+ KB
None

/tmp/ipykernel_4010/3614235176.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['OrderID']=df['OrderID'].fillna(method='ffill') #fill the null value in orderid with the previous orderid

In [ ]:
#Analysis

print(df.groupby(df['ShipCountry'])['OrderID'].count()) #how many order by each country

print(df['ShippingCost'].sum()) #total of shipping cost

print(df.groupby(df['ShipCountry'])['ShippingCost'].sum()) #total of shipping cost by each country

print(df.groupby(df['ShippingCompany'])['OrderID'].count()) #how many order by each company

ShipCountry
Canada       45
Egypt        41
Germany      38
Palestine    16
UK           56
USA          49
Name: OrderID, dtype: int64
54497.68
ShipCountry
Canada       10623.43
Egypt         9231.34
Germany       5344.99
Palestine     2910.02
UK           15986.31
USA          10401.59
Name: ShippingCost, dtype: float64
ShippingCompany
Aramex International              51
DHL Express                       53
FedEx Logistics                   54
Kiwilytics Goods Shipping LLC.    41
UPS Worldwide                     46
Name: OrderID, dtype: int64

In [32]:
df.to_csv("cleaned_order.csv",index=False)